
body{
    font-family: 'Spicy Rice', cursive;
    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.foto  img{
    height:300px;   
    margin-top:50px;
    box-shadow:1px 1px 10px  red;
    
}


.foto h1:hover{
   color: white;
   font-size:80px;
}

