<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <%- include ('partials/header.html')%>
</head>

<body>
    <%- include ('partials/navegation.html')%>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="foto">
                    <img src="/img/regina.jpg" class="animate__animated animate__rubberBand" alt="regina">
                    <h1>Regina</h1>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid" id="about">
        <div class="row bg-dark text-white p-5 text-center">
            <div class="col-sm-6" >
                <i class="fa fa-ravelry  fa-5x" aria-hidden="true"></i>
            </div>
            <div class="col-sm-6">
                <h3>Welcome back!!</h3>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ipsa, nobis veritatis neque similique eaque, porro pariatur possimus corrupti eum dolore, error quisquam enim expedita ad beatae quo sapiente vel!</p>
            </div>
        </div>
    </div>



    <%- include ('partials/footer.html')%>

</body>

</html>